<strong>Olá {{ organizer }}!</strong>
<p>Houve uma nova inscrição em <strong>{{ meetup }}</strong>, os dados do inscrito estão abaixo:</p>
<p>
    <strong>Nome: </strong> {{ user }} <br />
    <strong>E-mail: </strong> {{ email }} <br />
</p>
